@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #070707;
  --second-color: #0E0E0E;
  --third-color: #16191C;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--main-color);
  color: white;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}



section h2 {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

section {
  padding: 2rem 2rem;
}

header {
  position: relative;
  background: url('../images/hero-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  overflow: hidden;
  min-height: 30rem;
}

header::after {
  content: "";
  position: absolute;
  background-color: rgb(23, 23, 23, .8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu-icon {
  display: flex;
  justify-content: right;
}

#menu-mobile {
  width: 1.9rem;
  margin: 1rem;
}

nav,
.hero,
img {
  position: relative;
  z-index: 1;
}

.menu-mobile {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  translate: 100%;

  transition: translate 0.3s ease-in;
}

.menu-mobile.visible {
  translate: 0rem;
}

.menu-mobile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(7, 7, 7, .8);
}

.menu-mobile nav {
  position: absolute;
  right: 0;
  display: flex;
  width: 15rem;
  height: 100%;
  flex-direction: column;
  background-color: var(--second-color);
  text-align: center;
}

.menu-mobile ul {
  padding: 2rem 1.5rem;
}

.menu-mobile nav a {
  display: block;
  padding: 1.5rem 2rem;
}


.menu {
  display: none;
}

header nav {
  justify-content: right;
  margin: 1rem 0;
  margin-bottom: 2rem;
}

header nav ul {
  display: flex;
}

header nav a {
  padding: 0rem 0.7rem;
  margin: 1rem;
}

.hero {
  position: relative;
  text-align: center;
}

.hero figure {
  margin: 1rem auto;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 100%;
}

.hero img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.hero figcaption {
  margin-bottom: 2rem;
}

.hero div {
  position: relative;
  margin: auto;
  width: 75%;
}

.hero h1 {
  font-size: 2.7rem;
  font-weight: bold;
}

.about-me .container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.about-me .left {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  gap: 2rem;
}

.about-me .left .social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.about-me .right figure {
  width: 12rem;
  overflow: hidden;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.about-me .right img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.projects {
  background-color: #0E0E0E;
}

.projects .options {
  margin: auto;
  max-width: 30rem;
  background-color: var(--main-color);
  border-radius: 0.4rem;
}

.projects .options ul {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: repeat(4, 1fr);*/
  text-align: center;
}

.projects .options li {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

.projects .options li.active {
  background-color: white;
  border-radius: 0.3rem;
  color: black;
  font-weight: 700;
}

.projects .projects-cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.projects .projects-cards article {
  text-align: center;
  background-color: var(--third-color);
  cursor: pointer;
}

.projects .projects-cards article figure {
  width: 100%;
}

.projects .projects-cards article figure img {
  width: inherit;
}

.projects .projects-cards article p:nth-child(2) {
  margin-top: 0.5rem;
  font-weight: bold;
}

.projects .projects-cards article .details div {
  display: flex;
  margin: 0.5rem auto;
  width: fit-content;
}

.projects .projects-cards article .details div img {
  margin: 0.5rem;
}

.projects article {
  border-radius: 0.3rem;
}


#warn {
  display: none;
  text-align: center;
  padding: 10rem;
}


.details-project {
  position: fixed;
  overflow: scroll;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--second-color);
  padding: 1rem 1.5rem;
  font-size: 14px;
  transition: translate 0.3s ease-in;
  translate: 100%;
}

.details-project.visible {
  translate: 0rem;
}

.details-project .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px white solid;
}

.details-project .header a {
  width: 1.5rem;
  margin-bottom: 0.5rem;
}

[class^="project-"] {
  margin-top: 2rem;
}

.project-presentation h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-presentation img {
  border-radius: 0.4rem;
  margin: 1rem 0;
}

.project-description {
  margin: 2rem 0;
}

.project-description li {
  list-style-type: disc;
}

.project-description ul {
  padding-left: 1rem;
}

[class^="project-"] p,
li,
figcaption {
  color: #dadada;
}

[class^="project-"] h2 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.project-techs div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.project-techs article {
  flex-wrap: wrap;
  background-color: var(--third-color);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.project-techs article img {
  margin: auto;
}

footer {
  display: flex;
  justify-content: right;
  padding: 1rem 0;
  background-color: var(--second-color);
}

footer img {
  width: 1rem;
  margin: 0 1rem;
}

@media only screen and (min-width : 0px) and (max-width: 360px) {

  .hero h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .projects .options ul {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media only screen and (min-width : 481px) and (min-height: 321px) and (max-width:767px) {

  .projects .projects-cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width:1034px) {

  .menu-icon {
    display: none;
  }

  .about-me .container .container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 3rem;
  }

  .projects .projects-cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media only screen and (min-width:1035px) {

  .menu {
    display: flex;
  }

  .menu li:hover {
    transform: scale(.9);
  }

  .menu a:hover {
    border-bottom: 2px solid white;
  }

  .menu-icon {
    display: none;
  }

  .hero div {
    width: 40%;
  }

  .hero h1 {
    font-size: 2.7rem;
    font-weight: bold;
  }

  .about-me .left {
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    gap: 2rem;
  }

  .about-me .container {
    padding: 0 12rem;
  }

  .about-me .container .container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 3rem;
  }

  .about-me .left {
    flex-direction: column;
    width: 60%;
  }

  .projects {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .projects .projects-cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .projects .projects-cards article {
    border-radius: 0.5em;
  }

  .skills {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .opacity.visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgb(8, 8, 8, .8)
  }

  .details-project {
    width: 40%;
    overflow-x: hidden;
  }

  footer img {
    width: 1.5rem;
  }

}